<section id="about" class="position-relative text-center py-5">
  <p class="fw-bold mb-2">Get To Know More</p>
  <h1 class="title mb-4">About Me</h1>

  <!-- Container for the about section -->
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center gap-4">
      <!-- Image Container -->
      <div class="col-12 col-md-4 d-flex justify-content-center mb-4 mb-md-0">
        <img
          src="./assets/icons/3d-Developer.png"
          alt="Profile picture"
          class="about-pic img-fluid rounded-circle"
        />
      </div>

      <!-- About Details Container -->
      <div class="col-12 col-md-7">
        <!-- Experience and Education Cards -->
        <div class="row justify-content-center gap-4 mb-4">
          <div class="col-12 col-sm-5 details-container p-3 bg-white text-center shadow-sm">
            <img src="./assets/icons/experience.png" alt="Experience icon" class="icon mb-2 img-fluid" />
            <h3>Experience</h3>
            <p>2+ years <br /> CI Global Technologies</p>
          </div>
          <div class="col-12 col-sm-5 details-container p-3 bg-white text-center shadow-sm">
            <img src="./assets/icons/education.png" alt="Education icon" class="icon mb-2 img-fluid" />
            <h3>Education</h3>
            <p>B.Sc. Computer Science<br />M.Sc. Computer Science</p>
          </div>
        </div>

        <!-- About Text -->
        <div class="text-container px-3">
          <p class="text-center text-md-start">
            I'm a passionate junior software developer with 2+ years of hands-on experience in front-end development,
            specializing in building dynamic and responsive web applications using the Angular framework and Kendo UI. I've
            tackled complex front-end challenges, optimized UI/UX for seamless user experiences, and contributed to the
            successful delivery of key features in projects like Yellowstone. My focus on clean, efficient code, responsive
            design, and continuous learning drives me to solve problems and improve web functionality. Key skills include
            Angular, Kendo UI, JavaScript, TypeScript, HTML, CSS, and UI/UX optimization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>