
  <section id="experience" class="text-center py-5">
    <p class="fw-bold mb-2">Explore My</p>
    <h1 class="title mb-4">Skills</h1>
  
    <div class="d-flex flex-wrap justify-content-center gap-4">
      <div
        *ngFor="let skill of skills"
        class="card text-center p-1"
        style="width: 12rem"
      >
        <div class="card-body">
          <img
          [src]="skill.icon"
          [alt]="skill.name + ' icon'"
          class="card-img-top mb-3 mx-auto"
          style="width: 100px; height: 100px"
        />
          <h5 class="card-title">{{ skill.name }}</h5>
          <p class="card-text">{{ skill.description }}</p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="tools" class="text-center py-5">
    <p class="fw-bold mb-2">Tools I Use</p>
    <h1 class="title mb-4">Development Tools</h1>
  
    <div class="d-flex flex-wrap justify-content-center gap-4">
      <div
        *ngFor="let tool of tools"
        class="card text-center p-1"
        style="width: 12rem"
      >
        <div class="card-body">
          <img
          [src]="tool.icon"
          [alt]="tool.name + ' icon'"
          class="card-img-top mb-3 mx-auto"
          style="width: 75px; height: 75px"
        />
          <h5 class="card-title">{{ tool.name }}</h5>
          <p class="card-text">{{ tool.description }}</p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="work-experience" class="text-center py-5">
    <div class="container-fluid timeline-section">
      <div class="container">
        <h1 class="title mb-4">Experience & Education</h1>
    
        <!-- Experience Section -->
        <div class="row align-items-center how-it-works">
          <div class="col-2 text-center bottom">
            <div class="circle">
              <box-icon name='school' type='solid' animation='tada' color='#393e46' ></box-icon>
            </div>
          </div>
          <div class="col-8">
            <h5>Junior Software Engineer</h5>
            <p>CI Global Solutions | 07/2022 - Present | Chennai, Tamil Nadu</p>
            <p>Developed dynamic web applications using Angular and Kendo UI, improving operational efficiency for clients. Worked on Yellowstone, a multi-module web application with features like Fixed Asset Management with Multi-language support, Employee Scheduling and Time off Request.</p>
          </div>
        </div>
    
        <!-- Path between 1-2 -->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr />
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
    
        <!-- Education Section 1 -->
        <div class="row align-items-center justify-content-end how-it-works">
          <div class="col-8 text-right">
            <h5>M.Sc (Computer Science)</h5>
            <p>Dhanraj Baid Jain College | 05/2021 | Chennai, Tamil Nadu</p>
            <p>Grades - 85%</p>
          </div>
          <div class="col-2 text-center full">
            <div class="circle">
              <box-icon name='graduation' type='solid' animation='tada' color='#393e46' ></box-icon>
            </div>
          </div>
        </div>
    
        <!-- Path between 2-3 -->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr />
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>
    
        <!-- Education Section 2 -->
        <div class="row align-items-center how-it-works">
          <div class="col-2 text-center top">
            <div class="circle">
              <box-icon name='graduation' type='solid' animation='tada' color='#393e46' ></box-icon>
            </div>
          </div>
          <div class="col-8">
            <h5>B.Sc (Computer Science)</h5>
            <p>Dhanraj Baid Jain College | 05/2019 | Chennai, Tamil Nadu</p>
            <p>Grades - 60%</p>
          </div>
        </div>
    
        <!-- Path between 3-4 -->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr />
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
    
        <!-- Education Section 3 -->
        <div class="row align-items-center justify-content-end how-it-works">
          <div class="col-8 text-right">
            <h5>HSC</h5>
            <p>R.K.M Matriculation Hr. Sec. SCHOOL (SOUTH) | 05/2016 | Chennai, Tamil Nadu</p>
            <p>Grades - 61%</p>
          </div>
          <div class="col-2 text-center full">
            <div class="circle">
              <box-icon name='school' type='solid' animation='tada' color='#393e46' ></box-icon>
            </div>
          </div>
        </div>
    
        <!-- Path between 4-5 -->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr />
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>
    
        <!-- Education Section 4 -->
        <div class="row align-items-center how-it-works">
          <div class="col-2 text-center top">
            <div class="circle">
              <box-icon name='school' type='solid' animation='tada' color='#393e46' ></box-icon>
            </div>
          </div>
          <div class="col-8">
            <h5>SSLC</h5>
            <p>R.K.M Matriculation Hr. Sec. SCHOOL (SOUTH) | 05/2014 | Chennai, Tamil Nadu</p>
            <p>Grades - 79%</p>
          </div>
        </div>
      </div>
    </div>
    
    </section>
    