
/* Section Styling */
#work-experience, #experience, #tools {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Card Styling */
.card {
  transition: transform 0.3s ease;
  border-radius: 1rem;
  background-color: var(--primary-80);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover effect for cards */
.card:hover {
  transform: scale(1.05);
}

/* Titles and Text */
#work-experience .card-title,
#experience .card-title,
#tools .card-title {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-large);
  color: var(--accent-color);
}

/* Card Text */
#work-experience .card-text,
#experience .card-text,
#tools .card-text {
  font-size: var(--font-size-medium);
  color: var(--text-color);
}

/* Specific styles for Work Experience */
#work-experience .card {
  border: 1px solid var(--primary-color);
}

/* Experience Section */
#experience {
  background-color: var(--background-color);
  color: var(--text-color);
}

#experience .card-body {
  background-color: var(--primary-80);
  color: var(--text-color);
}

/* Tools Section */
#tools {
  background-color: var(--background-color);
  color: var(--text-color);
}

#tools .card-body {
  background-color: var(--primary-80);
  color: var(--text-color);
}

/* Card image styling */
#experience img,
#tools img {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.fc-text{
  color: var(--text-color)!important;
} 


:root {
  --circle-bg: var(--accent-color);
  --line-color: var(--primary-color);
  --text-color: var(--text-color);
  --bg-color: var(--background-color);
}

.timeline-section {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px 0;
}

.circle {
  /* font-weight: bold; */
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--background-color);
  z-index: 2;
}

.box-icon-color {
  color: var(--background-color);
}
/* .circle {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.how-it-works.row {
  display: flex;
}

.how-it-works .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  position: relative;
}

.how-it-works .col-2::after {
  content: '';
  position: absolute;
  border-left: 3px solid var(--primary-color);
  z-index: 1;
}

.how-it-works .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}

.how-it-works .col-2.full::after {
  height: 100%;
  left: calc(50% - 2px);
}

.how-it-works .col-2.top::after {
  height: 100%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}

.timeline hr {
  border-top: 3px solid var(--primary-color);
  margin: 0;
  top: 17px;
  position: relative;
  opacity: 1;
}

.timeline .corner {
  width: 100%;
  position: relative;
}

.top-right {
  left: 50%;
  top: -52%;
  border-bottom: 3px solid var(--primary-color)!important;
  border-left: 3px solid var(--primary-color)!important;
  border-radius: 0px 0px 0px 20px;
}

.left-bottom {
  left: -50%;
  top: calc(50% - 3px);
  border-top: 3px solid var(--primary-color)!important;
  border-right: 3px solid var(--primary-color)!important;
  border-radius: 0px 20px 0px 0px;
}

.top-left {
  left: -50%;
  top: -52%;
  border-bottom: 3px solid var(--primary-color)!important;
  border-right: 3px solid var(--primary-color)!important;
  border-radius: 0px 0px 20px 0px;
}

.right-bottom {
  left: 50%;
  top: calc(50% - 3px);
  border-top: 3px solid var(--primary-color)!important;
  border-left: 3px solid var(--primary-color)!important;
  border-radius: 20px 0px 0px 0px;
}

