<section id="projects" class="position-relative text-center py-5">
  <p class="fw-bold mb-2">My Recent Work</p>
  <h1 class="title mb-4">Projects</h1>

  <!-- Container for the projects section -->
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center gap-4">
      
      <!-- Project 1 -->
      <div class="card p-1" style="width: 24rem; height: 18rem">
        <div class="card-body details-container p-4 bg-white text-center shadow-sm">
          <!-- <img src="./assets/icons/Yellowstone.png" alt="Project 2 icon" class="w-100 mb-3" /> -->
          <h3>Yellowstone</h3>src/assets/icons/Yellowstone.png
          <p>Developed a dynamic scheduling dashboard using Kendo UI, Angular, and Bootstrap.</p>
        </div>
      </div>

      <!-- Project 2 -->
      <div class="card p-1" style="width: 24rem; height: 18rem">
        <div class="card-body details-container p-4 bg-white text-center shadow-sm">
          <img src="./assets/icons/RubiCube.png" alt="Project 1 icon" class="icon mb-3 img-fluid" />
          <h3>RubiCube</h3>
          <p>Designed & developed a personal portfolio using Angular 17, showcasing skills, projects, and experience.</p>
        </div>
      </div>
    </div>
  </div>
</section>