/* .btn-dark {
    background-color: var(--primary-color);
    color: var(--text-color);
  } */
  
  .btn-dark {
    border-color: var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .btn-dark:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
  }
  /* .btn-dark:hover {
    background-color: var(--accent-color);
  } */

  .text-primary {
    color: var(--accent-color)!important;
  }

  .form-control {
    background-color: var(--background-color)!important;
    color: var(--text-color)!important;
    border: 1px solid var(--primary-color)!important;
  }

  .form-control::placeholder {
    color: var(--accent-color)!important;
    opacity: 1;
}

.form-control::-webkit-input-placeholder {
  color: var(--accent-color);
}

.form-control:-ms-input-placeholder {
  color: var(--accent-color);
}

.form-control::-ms-input-placeholder {
  color: var(--accent-color);
}
