<div id="home">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Vasanth's Folio</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Me</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Language
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Tamil</a></li>
              <li><a class="dropdown-item" href="#">French</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-github"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

  <!-- Home Section -->
  <div class="center-wrapper d-flex align-items-center justify-content-center">
    <section
      id="profile"
      class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-center gap-5 text-center"
    >
      <!-- Profile Picture -->
      <div
        class="section__pic-container d-flex align-items-center justify-content-center"
      >
        <img
          src="./assets/VasanthImage.jpg"
          alt="Vasanth profile picture"
          class="img-fluid rounded-circle profile-pic"
        />
      </div>

      <!-- Profile Text -->
      <div class="section__text">
        <p class="fw-bold mb-2">Hello, I'm</p>
        <h1 class="title">Vasanth Ganesan</h1>
        <p class="section__text__p2">
          <span class="typewriter">{{ displayedText  }}</span>
        </p>        
        <!-- <p class="section__text__p2">Frontend Developer</p> -->

        <!-- Buttons -->
        <div class="btn-container d-flex justify-content-center gap-2 my-3 flex-wrap">
          <button class="btn btn-outline-dark" (click)="openResume()">
            Download CV
          </button>
          <button class="btn btn-dark" routerLink="/contact">
            Contact Info
          </button>
        </div>

        <!-- Social Icons -->
        <div class="socials-container d-flex justify-content-center gap-2 flex-wrap"> 
          <img
            src="./assets/icons/github-logo.png"
            alt="My Github profile"
            class="icon"
            (click)="goToLink('https://github.com/Vasanth2304')"
          />
          <img
            src="./assets/icons/linkedin.png"
            alt="My LinkedIn profile"
            class="icon"
            (click)="goToLink('https://www.linkedin.com/in/vasanth-g-370517222/')"
          />
          <img
          src="./assets/icons/instagram.png"
          alt="My Instagram profile"
          class="icon"
          (click)="goToLink('https://www.instagram.com/vasanthvolley_/')"
        />
        <img
          src="./assets/icons/twitter.png"
          alt="My Twitter profile"
          class="icon"
          (click)="goToLink('https://twitter.com')"
        />
        </div>
      </div>
    </section>
  </div>
</div>

<div id="about">
  <app-about></app-about>
  <!-- Content for about -->
</div>

<div id="experience">
  <app-experience></app-experience>
  <!-- Content for experience -->
</div>

<div id="projects">
  <app-projects></app-projects>
  <!-- Content for projects -->
</div>

<div id="contact">
  <app-contact></app-contact>
  <!-- Content for contact -->
</div>
