/* Home Section Styles */
/* #home {
  background-color: var(--background-color);
  color: var(--text-color);
} */

#profile-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.navbar-brand {
  color: var(--text-color)!important;
}

.nav-link {
  color: var(--text-color);
  transition: color 0.3s;
}
.navbar-nav .nav-link.active {
  color: var(--background-color)!important;
}
.nav-link:hover {
  color: var(--background-color);
}

.navbar-toggler {
  border-color: var(--text-color);
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.center-wrapper {
  min-height: 100vh;
  padding: 1rem;
}

.section__pic-container {
  width: 300px;
  height: 300px;
  max-width: 100%;
  overflow: hidden;
}

.profile-pic {
  width: 85%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.title {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.typewriter {
  display: inline-block;
  border-right: 2px solid var(--text-color);
  padding-right: 5px;
  animation: blinkCursor 0.8s infinite;
}

@keyframes blinkCursor {
  0%, 100% {
    border-color: var(--text-color);
  }
  50% {
    border-color: transparent;
  }
}

.btn-container .btn {
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-outline-dark {
  border-color: var(--text-color);
  color: var(--text-color);
}

.btn-outline-dark:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.btn-dark {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.btn-dark:hover {
  background-color: var(--text-color);
}

.icon {
  cursor: pointer;
  height: 2rem;
  transition: transform 0.2s, filter 0.3s;
}

.icon:hover {
  transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  #profile-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    animation: fadeEffect 1s ease-in-out;
    transition: background-image 1s ease-in-out;
  }
  
  @keyframes fadeEffect {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
}
