#profile {
  gap: 2rem;
}
.center-wrapper {
  min-height: 100vh;
  padding: 1rem;
}
.section__pic-container {
  width: 300px;
  height: 300px;
  max-width: 100%;
  overflow: hidden;
}
.profile-pic {
  width: 85%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.title {
  font-size: 2.5rem;
}
.icon {
  cursor: pointer;
  height: 2rem;
}
.btn {
  font-weight: 600;
  transition: all 0.3s ease;
}
